// @font-face {
// 	font-family: 'Hallo';
// 	src: url('/fonts/Hallo-Sans/Hallo sans.otf');
// 	font-style:   normal;
//     font-stretch: normal;
// }

* {
	font-family: 'PT Sans';
	font-weight: normal;
}

h1, h2, h3, h4 {
	font-family: 'PT Sans';
}

p, a, li {
	font-family: 'PT Serif';
}

p, a, li, code {
	font-size: 22px;
}

code {
	font-family: "Courier New";
	font-size: 18px;
	padding: 0 4px;
	p & { font-size: 22px; }
}

p, li { line-height: 165%; }
code { line-height: 135%; }

h1 { font-size: 44px; margin-top: 35px; margin-bottom: 15px; }
h2 { font-size: 32px; margin-top: 30px; margin-bottom: 10px; }
h3 { font-size: 26px; }