.close-button {
	position: absolute;
	top: 0px;
	right: 0px;
	width: $header-height;
	height: $header-height;
	padding: ($header-height - $icon-size) / 2;
	cursor: pointer;
	
	svg {
		width: $icon-size;
		height: $icon-size;
		fill: white;
	}
}
