html
  head
    title Peter Szerzo makes a website
    meta(charset='utf-8')
    script(src='#{siteUrl}/shared/ghost-url.min.js')
    script.
      ghost.init({
        clientId: "ghost-frontend",
        clientSecret: "#{ghostClientSecret}"
      });
  body
    div(id='site')
      div(class='wrapper')
        <div style="width:100%;text-align:center;padding-top:100px;height:100vh;" class="loader"><img style="display:inline-block;width:60px;height:60px;" src="/images/loader/ripple.gif" alt="Loading icon"/></div>
    script(src='/js/bundle.js')
