.header {
	background-color: transparentize(get-color(base), 0.1);
	box-shadow: 0 0 10px #333;
	overflow: visible;
	position: fixed;
	width: 100%;
	height: $header-height;
	top: 0;
	transition: all 0.2s;
	color: white;
	z-index: 100;

	&--transparent {
		background-color: rgba(255, 255, 255, 0);
		box-shadow: none;
	}

	&__icon {
		height: $header-height;
		width: $header-height;
		cursor: pointer;
		position: absolute;
		padding: ($header-height - $icon-size) / 2;
		svg {
			width: $icon-size;
			height: $icon-size;
			fill: white;
		}
		opacity: 0.7;
		transition: all 0.5s;
		&:hover {
			opacity: 1;
		}
	}

	&__main-link {
		left: 0;
	}

	&__falafel {
		display: block;
		right: 0;
	}

	&__nav {
		z-index: 100;
		height: $header-height;
		overflow: visible;
		float: right;
		width: auto;
		float: auto;
		text-align: right;
		padding: 0;

		&__item {
			width: 100px;
			float: right;
			height: $header-height;
			padding: 0;
		}

		&__item {
			z-index: 100;
			display: table;

			.header--discrete & {
				display: none;
			}

			a {
				height: 100%;
				padding: 0 0px;
				display: table-cell;
				position: relative;
				text-align: center;
				vertical-align: middle;
				font-family: 'PT Sans';
				@include font-size(18px);
				top: 1px;
			}

			&:hover, &--active {
				border-bottom: 4px solid lighten(map-get($colors, purple), 7);
				a {
					top: 3px; opacity: 1;
				}
			}
		}
	}

	&__modal-nav {
		position: fixed;
		top: 0;
		left: 0;
		bottom: 0;
		right: 0;
		background-color: rgba(0, 0, 0, 0.9);

		&__items {
			position: absolute;
			top: $header-height + 0px;
			right: 23px;
			li {
				margin-top: 20px;
				&:first-child {
					margin-top: 20px;
				}
				text-align: right;
			}
		}

		&__item {
			color: white;
			@include font-size(32px);
			font-family: 'PT Sans';
			&--active {
				opacity: 1;
			}
		}
	}
}
