.static {
	$p: 25px;

	width: 100%;
	// The 6px accounts for line height in the paragraph and makes sure the space at on the side and at the top are exactly the same. This looks great on small screens.
	padding: ($p - 6px) $p;
	margin: auto;

	p {
		&:first-child {
			padding-top: 0;
			margin-top: 0;
		}

		&:last-child {
			padding-bottom: 0;
			margin-bottom: 0;
		}
	}

	@include bp-w(768px + 2 * $p) {
		width: 768px;
		padding: 50px 0;
	}

	blockquote {
		font-style: italic;
		margin: 35px 0 35px 40px;
	}

	ul {
		list-style-type: circle;
		list-style-position: outside;
		padding: 25px;
	}

	p, a {
		hyphens: auto;
	}

	li {
		display: list-item;
		padding: 5px 0;
	}

	a {
		color: map-get($colors, purple);
		border-bottom: 1px solid map-get($colors, purple);
		opacity: 0.7;
		&:hover { opacity: 1; }
	}

	img, iframe {
		width: 100%;
		// max-width: 500px;
		// max-height: 500px;
		display: block;
		margin: 40px auto;
		border-radius: 4px;
		@media screen and (max-width: $breakpoint) {
			width: 250px;
			margin: auto;
		}
	}

	iframe {
		height: 400px;
	}

}
