@import '../../styles/variables/manifest';
@import '../../styles/mixins/manifest';

.welcome {
  position: fixed;
  display: flex;
  width: 100%;
  height: 100%;
  z-index: 1000;
  background-color: $blue;

  $c: $purple;

  &__summary {
    $pad: 35px;
    $width: (263px + 2 * $pad) * 0.7;
    $height: (131px + 2 * $pad) * 0.7;
    padding: $pad * 0.7;
    animation: bounce 4.5s linear infinite;
    background-color: $c;
    border: 2px solid rgba(255, 255, 255, 0);
    border-radius: 12px;
    display: block;
    z-index: 2;
    width: $width;
    height: $height;
    margin: auto;
    opacity: 0.95;
    transition: all 0.5s;

    &:hover {
      opacity: 0.99;
      border: 2px solid rgba(255, 255, 255, 1);
      transition: all 0.5s;
    }

    svg {
      fill: $white;
    }

    @include bp-w(500px) {
      width: 263px + 2 * $pad;
      height: 131px + 2 * $pad;
      padding: $pad;
    }
  }

  &__globe,
  &__background {
    position: absolute;
    width: 100%;
    height: 100%;

    svg,
    canvas {
      position: absolute;
      top: 0;
      left: 0;
    }
  }

  &__globe {
    z-index: 1;
  }

  &__background {
    z-index: 0;
    opacity: 0.2;
    background-position: 50% 50%;
    background-size: cover;
  }

  &__message {
    display: none;
    z-index: 2;
    transition: all 0.75s;
    position: absolute;
    bottom: 20px;
    left: 0;
    color: $white;
    text-align: center;
    width: 100%;
    padding: 0 60px;
    @include font-size(16px);
    opacity: 0.7;
    font-family: 'PT Sans';

    @include bp-w(800px) {
      display: block;
    }
  }
}
