@mixin transition($str) {
    -webkit-transition: $str;
    -moz-transition: $str;
    -ms-transition: $str;
    -o-transition: $str;
    transition: $str;
}

@mixin keyframes($animation-name) {
    @-webkit-keyframes #{$animation-name} {
        @content;
    }
    @-moz-keyframes #{$animation-name} {
        @content;
    }
    @-ms-keyframes #{$animation-name} {
        @content;
    }
    @-o-keyframes #{$animation-name} {
        @content;
    }
    @keyframes #{$animation-name} {
        @content;
    }
}

@mixin animation($str) {
    -webkit-animation: #{$str};
    -moz-animation: #{$str};
    -ms-animation: #{$str};
    -o-animation: #{$str};
    animation: #{$str};
}

// generic transform
@mixin transform($transforms) {
       -moz-transform: $transforms;
         -o-transform: $transforms;
        -ms-transform: $transforms;
    -webkit-transform: $transforms;
            transform: $transforms;
}

@include keyframes(bounce) {
    $scale: 3;
    $val: 0 2 3 2 0 -2 -3 -2 0;
    @each $i in 1, 2, 3, 4, 5, 6, 7, 8, 9 {
        #{percentage(($i - 1) / 8)} {
            @include transform(translateY(($scale * nth($val, $i))+px));
        }
    }
}