@import '../../styles/variables/manifest';
@import '../../styles/mixins/manifest';

@import './close_button';

.modal-nav {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.9);

  @mixin expand {
    @include bp-w(600px) {
      @content;
    }
  }

  &__items {
    position: absolute;
    top: $header-height-small;
    right: ($header-height-small - $icon-size-small) / 2;

    @include expand {
      top: $header-height;
      right: ($header-height - $icon-size) / 2;
    }

    li {
      margin: 10px 0;
      text-align: right;
    }
  }

  &__item {
    color: $white;
    font-size: 1.2rem;
    font-family: 'PT Sans';

    &--active {
      opacity: 1;
    }

    @include expand {
      font-size: 1.8rem;
    }
  }
}
