@import '../../styles/variables/manifest';
@import '../../styles/mixins/manifest';

@import './close_button';

.modal-nav {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.9);

  &__items {
    position: absolute;
    top: $header-height;
    right: 23px;

    li {
      margin-top: 20px;
      text-align: right;

      &:first-of-type {
        margin-top: 0;
      }
    }
  }

  &__item {
    color: white;
    @include font-size(28px);
    font-family: 'PT Sans';

    &--active {
      opacity: 1;
    }
  }
}
