.link {
	$c: white;
	width: 170px;
	font-family: 'PT Sans';
	margin: auto;
	text-align: center;
	color: $c;
	border: 1px solid $c;
	padding: 8px 16px;
	@include font-size(16px);
	opacity: 1;
	transition: all 0.3s;

	&:hover {
		color: #000;
		background-color: $c;
		transition: all 0.3s;
	}
}
