@import '../../styles/variables/manifest';
@import '../../styles/mixins/manifest';

.footer {
  background-color: $blue;
  @include standard-shadow;
  padding: 40px 0;
  position: relative;
  overflow: hidden;

  @mixin expand {
    @include bp-w(600px) {
      @content;
    }
  }

  @include expand {
    padding: 90px 0;
  }

  &__background {
    z-index: -1;
    position: absolute;
    background-color: $blue;
    background-size: cover;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
  }

  &__links {
    display: block;
    text-align: center;
    height: 30px;

    .icon-link {
      display: inline-block;
      margin: 0 15px;
    }
  }

  &__title {
    margin-bottom: 20px;

    p {
      font-family: 'PT Sans';
      @include font-size(16px);
      color: $white;
      margin: 0 auto;
      text-align: center;
    }
  }

  &__content {
    position: relative;
    vertical-align: middle;
  }

  &__messages {
    $ratio: 18;
    padding: 0 5px;
    position: absolute;
    display: flex;
    height: 100%;
    width: 100%;
    top: - 15vw / $ratio;
    left: 0;
    opacity: 0.08;

    @include expand {
      padding: 0 40px;
      top: -10vw / $ratio;
    }

    p {
      text-align: center;
      margin: auto;
      font-family: 'PT Sans';
      font-size: 15vw;

      line-height: 0.8;
      display: block;
      color: $white;
      opacity: 1;

      &:last-of-type {
        font-weight: bold;
      }

      @include expand {
        font-size: 10vw;
      }
    }
  }
}
