* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
}

html,
body {
  width: 100%;
  height: 100%;
  overflow: hidden;
  margin: 0;
}

pre,
code {
  width: 100%;
  overflow-x: scroll;
}

pre {
  background-color: transparentize(map-get($colors, purple), 0.9);
  border-radius: 8px;
  padding: 20px;
}

a {
  color: white;
  opacity: 0.6;
  text-decoration: none;

  &:hover {
    opacity: 1;
  }
}

ul {
  list-style-type: none;
  padding: 0;
  margin: 0;

  li {
    display: block;
  }
}

img {
  display: block;
  width: 100%;
}
